<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="paygate-button">
        <button mat-flat-button color="primary" (click)="redirectToExternalWebsite()">Book a Session</button>
      </div>
      <br />
      <p>The session is completely free of cost.</p>
      <p>You can pay whatever you feel is right, this will help me improve the quality of this session.</p>

      <div class="phonepe">
        <img ngSrc="assets/img/PhonePe.png" alt="PhonePe" width="500" height="1000" >
      </div>

    </div>
    <div class="right-side">
    </div>
  </div>
</main>