<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="paygate-button">
        <button mat-flat-button color="primary" (click)="redirectToExternalWebsite()">Book a Session</button>
      </div>
      <br />
      <p>The session is completely free of cost.</p>
      <p>You can donate on below given UPI Address or scan the QR code.</p>

      <div class="phonepe">
        <p>UPI Address - rahul.bali&#64;axl</p><br /><br />
        <img src="assets/img/PhonePe.png" alt="PhonePe" width="400" >
      </div>
    </div>
    <div class="right-side">
    </div>
  </div>
</main>
