<div class="paygate-button">
  <button mat-flat-button color="primary" (click)="redirectToExternalWebsite()">Book a Session</button>
</div>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPC89XSK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
<br />
<p>The session is completely free of cost.</p>
<p>You can donate on below given UPI Address or scan the QR code.</p>

<b>UPI Address - rahul.bali&#64;ybl</b><br /><br />

<div class="phonepe">
  <img ngSrc="assets/img/PhonePe.png" alt="PhonePe" width="400" height="456">
</div>
