
.main {
    width: 100%;
    height: 40vh;
    background-color: white;
    color: red;
    font-size: 20px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-center-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.main-center-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    width: 100%;
    height: 60vh; /* Take half the viewport height */
}

.rectangle {
    width: 100%;
    flex-grow: 1; /* Each rectangle will take up an equal part of the remaining space */
    background-color: #F4C430;
    border: 1px solid #F93; /* Optional: Adds a border to the rectangles */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
