<div class="main">
  <div class="main-header">
    <h1>{{title}}</h1>
    <h4>{{subtitle}}</h4>
  </div>
  <div class="main-center">
    <div class="main-center-left">
      <div class="main-center-left-image">
        <!-- <img src="assets/images/ambamata.jpg" alt="Amba Mata"> -->
      </div>
      <div class="main-center-left-text">
        <h1>अम्बा माता</h1>
        <p>अम्बा एक देवी है जिनका नाम वेदों में भी उल्लेखित है।</p>
        <p>अम्बा को दुर्गा, शेरावाली, चंडी, भवानी, काली, जगदंबा, आदिशक्ति, अम्बिका, अंबाल और अंबे नामों से भी जाना जाता है।</p>
        <p>अम्बा, अम्बिका, जगदम्बा, जगत जननी, महिषासुर मर्दिनी, चण्डिका, दुर्गा, काली, पार्वती, आदि शक्ति, दुर्गा। </p>
      </div>
    </div>
    <div class="main-center-right">
      <div class="main-center-right-image">
        <!-- <img src="assets/images/ambamata.jpg" alt="Amba Mata"> -->
      </div>
      <div class="main-center-right-text">
        <h1>अम्बा माता</h1>
        <p>चैत्र माह की नवरात्र शुरु होंगी। इन नौ दिन देवी के अलग-अलग रुपों की पूजा की जाती है। ये नौ रुप अलग-अलग सिद्धियां देते हैं। </p>
        <p>इसमें माता के महागौरी लेकर से कालरात्रि जैसे नौ रुप हैं। ये नौ रुप माता के दस महाविद्या वाले रुपों से अलग हैं। देवी महापुराण में उन दस महाविद्याओं के बारे में बताया गया है। </p>
        <p>शैलपुत्री, ब्रह्मचारिणी, चंद्रघंटा, कूष्मांडा, स्कंदमाता, कात्यायनी, कालरात्रि, महागौरी, सिद्धिदात्री</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="rectangle">
    <youtube-player videoId="KolS1V50iQM" placeholderImageQuality="high" width="200" height="200" />
  </div>
  <div class="rectangle">
    <youtube-player videoId="MFr8-mKE6sE" placeholderImageQuality="high" width="200" height="200" />
  </div>
  <div class="rectangle">
    <youtube-player videoId="5XgjKDj3tEA" placeholderImageQuality="high" width="200" height="200" />
  </div>
  <div class="rectangle">yrte</div>
</div>

