<div class="main">
  <div class="main-header">
    <h1>अम्बा माता  </h1>
  </div>
  <div class="main-center">
    <div class="main-center-left">
      <div class="main-center-left-image">
        <!-- <img src="assets/images/ambamata.jpg" alt="Amba Mata"> -->
      </div>
      <div class="main-center-left-text">
        <h1>अम्बा माता</h1>
        <p>अम्बा एक देवी है जिनका नाम वेदों में भी उल्लेखित है।</p>
        <p>अम्बा को दुर्गा, शेरावाली, चंडी, भवानी, भवानी, काली, जगदंबा, अदिशक्ति, अम्बिका, अंबिका, अंबे, अंबाल और अंबिका नामों से भी जाना जाता है।</p>
      </div>
    </div>
    <div class="main-center-right">
      <div class="main-center-right-image">
        <!-- <img src="assets/images/ambamata.jpg" alt="Amba Mata"> -->
      </div>
      <div class="main-center-right-text">
        <h1>अम्बा माता</h1>
        <p>अम्बा, अम्बिका, जगदम्बा, जगत जननी, महिषासुर मर्दिनी, चण्डिका, दुर्गा, काली, पार्वती, आदि शक्ति,</p>
        <p>दुर्गा, शैलपुत्री, ब्रह्मचारिणी, चंद्रघंटा, कूष्मांडा, स्कंदमाता, कात्यायनी, कालरात्रि, महागौरी, सिद्धिदात्री</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="rectangle">
    <youtube-player videoId="KolS1V50iQM" placeholderImageQuality="high" />
  </div>
  <div class="rectangle">
    <youtube-player videoId="MFr8-mKE6sE" placeholderImageQuality="high" />
  </div>
  <div class="rectangle">nbvc</div>
  <div class="rectangle">yrte</div>
</div>