<!-- <main class="main">
  <div class="content">
    <div class="left-side"> -->
      <h2>{{ title }}</h2>
      <p>Rahul Bali offers 1 on 1 sessions for anyone looking for consultations.</p>
      <ul>
        <li>Web Design &amp; Software Consultations</li>
        <li>Life Coaching & Counselling</li>
        <li>General Life Talk</li>
      </ul>
      <!-- Add the router-outlet directive to the app.component.html file to display the content. -->
      <!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
      <p>All sessions are kept private.</p>

      <div class="appointment-button">
        <button mat-flat-button color="primary" (click)="navigateToAppointment()">Book an Appointment</button>
      </div>
    <!-- </div>
    <div class="right-side">
    </div>
  </div>
</main> -->
