
<h2>{{ title }}</h2>
<p>Rahul Bali offers 1 on 1 sessions for anyone looking for consultations.</p>
<ul>
  <li>Web Design &amp; Software Consultations</li>
  <li>Life Coaching & Counselling</li>
  <li>General Life Talk</li>
</ul>
<!-- Add the router-outlet directive to the app.component.html file to display the content. -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPC89XSK" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
<p>All sessions are kept private.</p>

<div class="appointment-button">
  <button mat-flat-button color="primary" (click)="navigateToAppointment()">Book an Appointment</button>
</div>
